.bg-green {
  background-color: #55ba30;
  border: 2px solid #fff;
  border-radius: 3px;
}

.bg-green:hover {
  cursor: pointer;
  transition: .2s;
  background-color: #55a630;
  color: #eee;
}

.bg-orange {
  background-color: #f77f00;
  border: 2px solid #fff;
  border-radius: 3px;
}

.bg-orange:hover {
  cursor: pointer;
  transition: .2s;
  background-color: #e17f00;
  color: #eee;
}
