@media only screen and (max-width: 760px), (max-device-width: 1024px) {
  table,
  th,
  tr,
  td,
  thead,
  tbody {
    display: block;
  }

  table {
      display: flex;
  }

  /* thead tr { */
    /* position: absolute;
    top: -9999px;
    left: -9999px; */
  /* } */

  td {
    position: relative;
    /* padding-left: 50%; */
  }

  td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%; 
    padding-right: 10px; 
    white-space: nowrap;
  }

}
