* { 
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: nunito;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10px 25%;
  height: 100vh;
  padding: 10px;
}

.container .div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  border-radius: 3px;
}

.list-container li {
  padding: 10px;
  margin: 5px;
  background: #f1faee;
  border: 2px solid #a8dadc;
  color: #1d3557;
  border-radius: 3px;
}

.hover-colors:hover {
  background: #a8dadc;
  color: #1d3557;
  border-radius: 3px;
  cursor: pointer;
}

.container div p {   
  padding: 5px;
  margin: 5px;
}

/* Color */
.bg-lightBlue {
  background: #f1faee;
  border: 2px solid #a8dadc;
  color: #1d3557;
}