* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Nunito, arial, helvetica, sans-serif;
}

*::selection {
  color: 0;
}

body {
  min-height: 100vh;
  background: linear-gradient(180deg, #432818, #321709) fixed;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container li {
  text-align: center;
  min-width: 200px;
  overflow: hidden;
}

.container-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div {
  padding: 10px;
  margin: 10px;
}

.progress {
  background-color: #ffe6a7;
  border: 2px solid #bb9457;
  border-radius: 3px;
  padding: 5px;
  color: #2bce48;
}

h1 {
  text-align: center;
  margin: 30px 0 10px 0;
  color: #fff;
}

h2 { 
  color: #fff;
  margin: 5px;
  padding: 5px;
}

/* List */
.list ul {
  list-style: none;
  margin: 2px;
  min-width: 10%;
}

.list li {
  flex-wrap: wrap;
  cursor: pointer;
  background-color: #ffe6a7;
  border-bottom: 2px solid #bb9457;
  padding: 5px;
  border-radius: 3px;
  margin-bottom: 5px;
}

.list li:hover {
  transition: .1s;
  background-color: #bb9457;
  border-bottom: 2px solid #fff;
  color: #fff;
}

/* Container Links */
/* .container a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  min-width: 100%;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #bb9457;
  background-color: #ffe6a7;
  color: #463f3a;
} */


/* Table */
.container table {
  border-collapse: collapse;
  border-radius: 5px;
  background-color: #ffe6a7;
}

.container td {
  border-bottom: 3px solid #bb9457;
  padding: 10px;
}

.container td:hover {
  transition: .050s;
  color: #fff;
  cursor: pointer;
  background-color: #bb9457;
}

.container-column input{
  margin: 20px;
  background: #ffe6a7;
  border: 3px solid #bb9457;
  border-radius: 3px;
}
.container-column input::-webkit-file-upload-button {
  background: #bb9457;
  padding: 5px;
  border: 0;
}
.container-column input::-webkit-file-upload-button:hover {
  cursor: pointer;
  background: #cca857;
  padding: 5px;
  border: #cca857;
}
.container-column input::-webkit-file-upload-button:focus {
  outline: 0;
}

/* Menu */
.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.menu ul{
  list-style: none;
  padding: 5px;
  min-width: 20%;
}

.menu li {
  display: flex;
}

.menu a {
  flex-wrap: wrap;
  /* position: absolute; */
  overflow: hidden;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  min-width: 100%;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #bb9457;
  background-color: #ffe6a7;
  color: #463f3a;
}

.menu a:visited {
  color: #463f3a;
}

.menu a:hover {
  transition: .1s;
  background-color: #bb9457;
  border: 2px solid #ffe6a7;
  color: #fff;
}

/* Form */
.container form {
  text-align: center;
  margin: 10px;
}

.container input {
  margin-bottom: 10px;
  border-radius: 3px;
  color: #bb9457;
  background-color: #ffe6a7;
  border: 2px solid #bb9457;
}

.container input:focus {
  outline: 0;
  box-shadow: 0 0 3px 2px #fff;
}

.container input::placeholder {
  color: #bb9457;
  padding-left: 10px;
}

.container button {
  min-width: 100%;
  padding: 5px;
  border-radius: 3px;
  background-color: #bb9457;
  border: 2px solid #99582a;
  color: #333;
}
.container button:hover {
  cursor: pointer;
  color: #efefef;
  background-color: #99582a;
  border: 2px solid #bb9457;
}

.container button:focus {
  box-shadow: 0 0 3px 2px #fff;
  outline: 0;
}

.resultGood {
  display: none;
  padding: 8px;
  margin: 5px;
  border-radius: 3px;
  background-color: #55a630;
  color: #ddd;
}

.resultBad { 
  display: none;
  padding: 8px;
  margin: 5px;
  border-radius: 3px;
  background-color: #e63946;
  color: #ddd;
}

/* spa */
.spa a {
  margin: 10px;
}