* {
  box-sizing: border-box;
  padding: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: Nunito;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container div {
  display: flex;
  margin: 5px;
}

.container div .a {
  background: #333;
  border: 2px solid #a5f;
  color: #fff;
  padding: 10px 30px;
}

.container div .a:hover {
  background: #efefef;
  color: #000;
  border: 2px solid #bd0;
}

.container div img {
  cursor: pointer;
}

.transition {
  border: 2px solid #a5f;
  padding: 10px;
  background: #fd5;
  transition: 1.3s;
}

.transition:hover {
  border: 2px solid #fd5;
  transition: 1.3s;
  padding: 25px;
  background: #a5f;
}