*{ 
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
}

.div {
  max-width: fit-content; 
  background: #efefef;
  border: 2px solid #666;
  border-radius: 5px; 
  padding: 20px;
  margin: 10px;
}

div::selection {
  text-align: center;
}

.div-font {
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
}
