@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: Nunito;
}

.portfolioContainer{
    margin: 30px 120px;
    text-align: center;
}

.portfolioRow{
    margin: 10px 0;
}

.portfolioImage{
    margin: 0px 10px;
    border-radius: 3px;
    border: 2px solid #E5E5E5;
    box-shadow: 1px 1px 4px 2px #bbb;
}

