@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

/* Body */
body{
  height: 100vh;
}

.backgroundImage{
  background: url('https://source.unsplash.com/random');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}


/* Title + Image */
.titleContainer{
  position: relative;
  text-align: center;
}

.titleImage{
  background: green;
  max-width: 100%;
  margin: 15px 0 20px;
  max-height: 300px;
  border-radius: 20px;

}

.mainTitle{
  font-family: Nunito, sans-serif, initial;
  color: #f4f4f4;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
}

/* Navbar */

.navbarContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 25%;
}

.navbarUl{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 5px;
  width: fit-content;
  height: 70px;
  background: #fff;
}

.navbarUl li{
  padding: 20px;
  margin: 0 10px;
}
.navbarUl li:hover{
  cursor: pointer;
  background: #e9ecef;
  border-radius: 25px;
  border-bottom: 3px solid #fca311;
}

.navbarUl li a {
  color: #000;
}

/* Footer */
.footerContainer{
  display: flex;
  justify-content: center;
}

.myInfo{
  margin: 10px;
  padding: 10px;
}

.socialIcons{
  color: #ff0000;
  margin: 0 20px 25px;
}

.socialIcons:hover {
color: #fc5
}

/* Medias */

@media(max-width: 600px)
{
.navbarUl{
  justify-content: center;
  align-items: center;
  margin: 100px;
  flex-direction: column;
}
}