* {
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;
}



body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: linear-gradient(to bottom, #0304a5, #0077b6, #48cae4, #caf0f8);
  background-attachment: fixed ;
  color: #fff;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 { 
  margin: 10px 0 5px 0;
  font-size: 1.6rem;
}
h2 { 
  margin-bottom: 10px;
  font-size: .8rem;
}

.gameGlass { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, .8);
  z-index: 1;
  border: 5px solid #333;
}

.gameGlassH2 { 
  font-size: 1.8rem;
}
.gameGlassP { 
  margin-top: 100px;
  margin-right: 0;
  position: absolute;
  text-align: center;
}

[wm-flappy] {
  position: relative;
  border: 5px solid #27e;
  border-radius: 5px;
  height: 700px;
  width: 1200px;
  margin: 15px;
  background: linear-gradient(to bottom, #48cae4, #adf);
  overflow: hidden;
}

.birdy {
  position: absolute;
  width: 60px;
  left: calc(50% - 30px);
}

.double-pipe {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0;
  height: 100%;
}

.pipe {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pipe .border {
  background: linear-gradient(90deg, #639301, #a5e82e);
  border: 2px solid #000;
  height: 30px;
  width: 130px;
}

.pipe .body {
  background: linear-gradient(90deg, #639301, #a5e82e);
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  height: 150px;  
  width: 110px;
}

.progress {
  position: absolute;
  color: #fff;
  top: 10px;
  right: 10px;
  font-size: 2rem;
  z-index: 1;
}

@media(max-width: 600px) {
  [wm-flappy] {
    height: 600px;
    width: 100%;
  }
}
@media(min-height: 1024px) {
  [wm-flappy] {
    height: 700px;
    width: 100%;
  }
}