* {
  margin: 0; padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-gap: 10px;
}

.header {
  flex-grow: 1;
  grid-column: 1 / 5;
}

.main-panel {
  grid-column: 5 / 7;
}

/* Tests */
.header {
  background: red;
}

.main-panel {
  background: green;
}