*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Nunito;
}

.container{
  display: flex;
  justify-content: center;
}

.container a{
  padding: 10px;
  margin: 3px;
  line-height: 1.2rem;
  background: #f4f4f4;
  border-radius: 3px;
  color: #000;
  border-bottom: 2px solid #f4f4f4;
}
.container a:hover{
  transition: 0.3s;
  background: #e4e4e4;
  border-bottom: 2px solid #aaffdd;
}

.new-content{
  display: flex;   
  justify-content: center;
}

.main-header{
  text-align: center;
}

/* Video & button Style */
.video00{
  margin: 10px 0;
  max-width: 800px;
  max-height: 800px;
}

.videoPlay, .videoPause{
  transition: 0.2s;
  font-size: 1rem;
  border-radius: 3px;
  width: 20%;
  padding: 5px;
  margin: 0 15px;
  border: 2px solid #EFEFEF;
} 

.videoPlay:hover, .videoPause:hover{
  border: 2px solid #a2d2fe;
  background: #E0E0E0;
}

.videoPlay:focus, .videoPause:focus{
  outline: 0;
  border-bottom: 2px solid #a2d2fe;
}

/* Progress Bar */
.progressBarStyle{
  width: 50%;
  height: 30px;
  margin: 0 0 15px 0;
  border-radius: 5px;
  border: 2px solid #f4f4f4
}

.progressBarStyle > div{
  font-style: italic;
  text-align: center;
  height: 25px;
  border-radius: 5px;
  background: red;
}

@media(max-width: 800px){
  .video00{
    max-width: 350px;
    max-height: 350px;
  }
}